<% if current_user %>
  <div class="form__container">
    <%= form_for @tweet, html: { class: "form__control" } do |f| %>
      <%= f.text_area :content, size: "60x3", required: true, class: "input", placeholder: "What's happening ?" %>
      <%= f.submit "Tweet", class: "btn" %>
    <% end %>
  </div>
<% end %>
<% @tweets.each do |tweet| %>
  <div class="tweet__container">
    <% if tweet.parent_id %>
      <div class="retweet__text">reply to <%= tweet.parent.user.name %></div>
    <% elsif tweet.retweet_id %>
      <div class="retweet__text"><%= fa_icon "retweet" %> retweeted from <%= tweet.retweet.user.name %></div>
      <p><%= tweet.retweet_comment %></p>
    <% end %>
    <h6></h6>
    <div class="author">@<%= tweet.user.name %> - <%= tweet.created_at.strftime("%d %b %Y") %></div>
    <div class="tweet__content"><%= tweet.content %></div>
    <% if user_signed_in? %>
      <% if tweet.likes.include?(current_user.id) %>
        <%= link_to tweet_path(tweet), method: :post, class: "heart" do %>
          <%= fa_icon "heart", class: "heart" %> <span class="color-red"> <%= tweet.likes.size %></span>
        <% end %>
      <% else %>
        <%= link_to tweet_path(tweet), method: :post, class: "heart" do %>
          <%= fa_icon "heart-o", class: "icon icon__heart" %> <span class="color-red"> <%= tweet.likes.size %></span>
        <% end %>
      <% end %>
      <%= link_to "/tweets/#{tweet.id}/reply" do %>
        <%= fa_icon "comment-o", class: "icon icon__comment" %>
      <% end %>
      <%= link_to "/tweets/#{tweet.id}/retweet" do %>
        <%= fa_icon "retweet", class: 'icon icon__retweet' %>
      <% end %>
      <% if current_user.id == tweet.user.id %>
        <%= link_to tweet, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= fa_icon "trash-alt", class: 'icon icon__trash' %>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to 'View', tweet_path(tweet) %>
  </div>
<% end %>
