<% if current_user %>
  <h1>Add new tweet</h1>
  <%= form_for @tweet do |f| %>
    <%= f.text_area :content, size: "60x4" %>
    <%= f.submit "Create" %>
  <% end %>
<% end %>
<hr>
<% @tweets.each do |tweet| %>
  <h6>Author: <%= tweet.user.name %></h6>
  <p><%= tweet.content %></p>
  <p>#Likes: <%= tweet.likes.size %></p>
  <% if user_signed_in? %>
    <% if tweet.likes.include?(current_user.id) %>
      <%= link_to 'UNLIKE', tweet_path(tweet), method: :post %>
    <% else %>
      <%= link_to 'LIKE', tweet_path(tweet), method: :post %>
    <% end %>
    <% if current_user.id == tweet.user.id %>
      <%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
<% end %>
