<% if current_user %>
  <h1>Add new tweet</h1>
  <%= form_for @tweet do |f| %>
    <%= f.text_area :content, size: "60x4", required: true %>
    <%= f.submit "Create" %>
  <% end %>
<% end %>
<hr>
<% @tweets.each do |tweet| %>
  <% if tweet.parent_id %>
    <h6>reply to <%= tweet.parent.user.name %></h6>
  <% elsif tweet.retweet_id %>
    <h6>retweeted from <%= tweet.retweet.user.name %></h6>
    <p><%= tweet.retweet_comment %></p>
  <% end %>
  <h6></h6>
  <h5>Author: <%= tweet.user.name %></h5>
  <p><%= tweet.content %></p>
  <p>#Likes: <%= tweet.likes.size %></p>
  <% if user_signed_in? %>
    <% if tweet.likes.include?(current_user.id) %>
      <%= link_to 'UNLIKE', tweet_path(tweet), method: :post %>
    <% else %>
      <%= link_to 'LIKE', tweet_path(tweet), method: :post %>
    <% end %>
    <%= link_to "Reply", "/tweets/#{tweet.id}/reply"  %>
    <%= link_to "Retweet", "/tweets/#{tweet.id}/retweet"  %>
    <% if current_user.id == tweet.user.id %>
      <%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
  <%= link_to 'View', tweet_path(tweet) %>
  <hr>
<% end %>
